
### `Primitive Data Types`
- Data Type of variable or data can be identified with syntax
- type(variable_name)
- Single or double quotation mark or both can be used in string datatype.

In [1]:
#STRING
string_variable_1 = "This is string variable."
string_variable_2 = 'This is also string variable.'
string_variable_3 = "It's his book."
string_variable_4 = "It is 'his' 'book'."

multiline_string = '''This is the example
for multiline string. Did you
get it?
sdfjifgasf
it's
ashdgfbs"" ""
sagfhbs'''

print(string_variable_1, type(string_variable_1))
print(string_variable_2, type(string_variable_2))
print(string_variable_3, type(string_variable_3))
print(multiline_string, type(multiline_string))

This is string variable. <class 'str'>
This is also string variable. <class 'str'>
It's his book. <class 'str'>
This is the example
for multiline string. Did you
get it?
sdfjifgasf
it's
ashdgfbs"" ""
sagfhbs <class 'str'>

In [2]:
# determine number of characters in the string including white spaces
text1 = 'NCCS '
text2 = "is college"
# text1, text1 = 'NCCS', "is college"
length =  len(text1)
print("length of string is ", length)

length of string is  5

In [3]:
a = 5
print('a before ', a, type(a))
a = " has some value"
print('a after', a, type(a))

a before  5 <class 'int'>
a after  has some value <class 'str'>

In [4]:
b = 15
b += 0.1
print(b, type(b))

15.1 <class 'float'>

### `String Formating`
 Formating with '%' operator
- %s -- injects strings
- %d -- injects integers
- %b -- injects binary format.
- %f -- injects floating-point number   
Precison of floating-point number can be handled with format %a.bf where a represents minimum number of digits to be present in string and b represents the number of digits to be included that appears after the decimal.

In [5]:
var1 = "He is a %s"%'five'
print(var1)

He is a five

Formating with 'format()' method.

In [ ]:
# # Syntax
#     #'Formating string with {} method'.format('format()')
# # Example
#     txt = 'Number is {}'.format(2.0032425)
#     print(txt)

#     # Index based insertion
#     txt = '{1} is {0}'.format('unique', 'Number')
#     print(txt)

#     # Keyword based insertion
#     txt = '{} is {}'.format(a='Number', b='')

IndentationError: unexpected indent (2008660854.py, line 4)

In [8]:
a = 'this is a sentence {}'.format('abc')
a

'this is a sentence abc'

In [9]:
txt = "The value is {}".format('ooooo')
print(txt)

The value is ooooo

In [10]:
# Formating with `format()` string method.
txt = 'Number is {} - {}'.format('jggasjdkfba', 'nccs')
print(txt)

Number is jggasjdkfba - nccs

In [11]:
# Formating with `format()` string method.
txt = 'Number is {2} - {0}'.format('jggasjdkfba', 'nccs', 5)
print(txt)

Number is 5 - jggasjdkfba

In [12]:
# Formating with `format()` string method.
txt = 'Number is {val} - {txt}'.format(txt='jggasjdkfba', name='nccs', val=5)
print(txt)

Number is 5 - jggasjdkfba

 Formating woth f-string
# Syntax
    txt = 'f-string'
    f'Formating string with {txt}'

In [13]:
age = 10
txt = f'He is {age} years old'
print(txt)

He is 10 years old

In [ ]:
# String Methods
# len(), upper(), lower(), title(), swapcase(), capitalize(), endswith(), startswith(), strip(), split(), replace()

In [14]:
tst = "NCCS is in Kathmandu."
len(tst)

21

In [15]:
tst.upper()

'NCCS IS IN KATHMANDU.'

In [16]:
tst.lower()

'nccs is in kathmandu.'

In [17]:
tst.title()

'Nccs Is In Kathmandu.'

In [18]:
tst.swapcase()

'nccs IS IN kATHMANDU.'

In [19]:
tst.capitalize()

'Nccs is in kathmandu.'

In [20]:
tst.startswith("NCC")

True

In [21]:
tst.endswith("u.")

True

In [22]:
tst.split('n')

['NCCS is i', ' Kathma', 'du.']

In [23]:
tst.replace('Kath', 'hdhhs')

'NCCS is in hdhhsmandu.'

In [25]:
tst2 = '          This is string with whitespace. '

In [26]:
tst2.strip()

'This is string with whitespace.'

In [27]:
tst2.lstrip()

'This is string with whitespace. '

In [28]:
tst2.rstrip()

'          This is string with whitespace.'

In [29]:
tst3 = "abc123@"
tst3.isalnum()

False

In [30]:
False

False

In [31]:
tst3

'abc123@'

2. Integer
- Non-Fractional Numbers

In [32]:
integer_variable_1 = 5
integer_variable_2 = -3000

print(integer_variable_1, type(integer_variable_1))
print(integer_variable_2)

5 <class 'int'>
-3000

2. Float
- Fractional Numbers

In [33]:
float_variable_1 = 5.0
float_variable_2 = -100.3

print(float_variable_1, type(float_variable_1))
print(float_variable_2, type(float_variable_1))

5.0 <class 'float'>
-100.3 <class 'float'>

3. Boolean
- Either True or False
- Boolean False is equivalent to integer 0 or float 0, or empty list, string, tuple, set, dictionary, None.